<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools" package="com.cyanchill.missingcore.music.toys">
  <!-- To allow us to load the library on older Android versions (even if it's not being used). -->
  <uses-sdk android:minSdkVersion="24" tools:overrideLibrary="com.nothing.ketchum" />

  <!-- This permission is required to be able access the Glyph Matrix. -->
  <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />

  <application>
    <service
      android:name="com.cyanchill.missingcore.music.service.MusicArtworkToyService"
      android:exported="true">
      <intent-filter>
        <action android:name="com.nothing.glyph.TOY" />
      </intent-filter>

      <meta-data
        android:name="com.nothing.glyph.toy.name"
        android:resource="@string/toy_name_music_artwork" />
      <meta-data
        android:name="com.nothing.glyph.toy.image"
        android:resource="@drawable/music_artwork_thumbnail" />
      <meta-data
        android:name="com.nothing.glyph.toy.summary"
        android:resource="@string/toy_summary_music_artwork" />
    </service>
  </application>
</manifest>
